@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminLogin</title>
    <style>
        .c {
            width: 97%;
            height: 26px;
            font-size: 18px;
            border-radius: 5px;
            padding: 3px;
        }
    </style>
</head>
<body>
   <div style="margin:100px auto;padding:20px;background-color:pink;width:400px;height:250px;border-radius:15px;">
       <h1 style="text-align:center">Admin Login</h1>
       <hr />
       @using(Html.BeginForm("AdminLogin","Admin"))
       {
           @Html.TextBox("adId",null,new{placeholder="Adimin Id", required="required", @class="c"})<br /><br />
           @Html.TextBox("adPass",null,new{placeholder="Adimin Password", required="required", type="Password", @class="c"})<br /><br />
           <input type="submit" value="Login" style="background-color:green;color:white;"  class="c"/>
           <br /><br />
       }
   </div>
</body>
</html>
