@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>ChangePassword</h2>
@using (Html.BeginForm())
{
    @Html.TextBox("pass", null, new { placeholder="Enter Current Password", type="password"})<br />
    @Html.TextBox("npass", null, new { placeholder="Enter New Password", type="password"})<br />
    @Html.TextBox("cpass", null, new { placeholder="Confirm New Password", type="password"})<br />
    <input type="submit" value="Change Password" />
    <span>@ViewBag.msg</span>
}