@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/PZCommon.cshtml";
}
<style>
    .abou {
        margin-top: 10%;
    }

</style>
<div class="row">
<div class="col-sm-12 con" style="min-height:500px;background-image: url('/Content/images/cont.jpg');background-repeat:no-repeat;background-attachment:fixed;">
    <div class="row">
        <div class="col-sm-12" style="background:rgba(0,0,0,.5);min-height:500px">
            <p style="color:white;text-align:center;font-size:50px;font-weight:bolder;margin-top:12%;" class="animated fadeInUp">KSS - Gateway of Career</p>
            <p style="text-align:center;color:white;font-size:18px;" class="animated fadeInUp">KSS is an IT company incorporated with Ministry of Corporate Affairs -Government of India<br /> to facilitate software development and IT training in India. We work for <br />domestic as well as international clients.</p>
        </div>
    </div>
</div>
    <br /><br />
    <div class="col-sm-12 abou">
        <center><div style="height:250px;width:250px;border-radius:50%;border:2px solid black; overflow: hidden;" class="animated fadeInUp">
<img src="~/Content/images/satyamsir.jpg" class="img-responsive cl"/>
                </div></center>
        <p style="text-align:center;font-size:30px;font-weight:bold;" class="nm">Er. Shubham Mishra</p>
        <center><span>A real Time IT Expert and Founder of <b>KAMADGIRI SOFTWARE SOLUTION</b>. </span></center>
        <br /><br />
        <center><div style="height:250px;width:250px;border-radius:50%;border:2px solid black; overflow: hidden;" class="animated fadeInUp">
<img src="~/Content/images/shubhamsir.jpg" class="img-responsive cl"/>
                </div></center>
        <p style="text-align:center;font-size:30px;font-weight:bold;" class="nm">Er. Amit Tripathi</p>
        <center><span>A real Time IT Expert and Co-Founder of <b>KAMADGIRI SOFTWARE SOLUTION</b>. </span></center>
        <br /><br />
        <center><div style="height:250px;width:250px;border-radius:50%;border:2px solid black; overflow: hidden;" class="animated fadeInUp">
<img src="~/Content/images/amitsir.jpg" height="250" class="img-responsive cl"/>
                </div></center>
        <p style="text-align:center;font-size:30px;font-weight:bold;" class="nm">Er. Satyam Mishra</p>
        <center><span>A hard worker faculty of <b>KAMADGIRI SOFTWARE SOLUTION</b>. Who provides a great Availability and Supports for Students</span></center>
    </div>
    </div>