@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/PZCommon.cshtml";
}
<div class="row">
<div class="col-sm-12" style="min-height:600px;background-image:url('/Content/images/conta.jpg');background-repeat:no-repeat;background-size:cover;">
   <p style="margin-top:5%;text-align:center;font-size:50px;font-weight:bold;color:white;z-index:1;line-height:600px;">LOCATE KSS</p>
         </div>
    <iframe style="width:100%;height:500px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3610.3064842913745!2d80.86936821437776!3d25.192884783898183!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3984a7d8354a53d1%3A0x55f946b2ed4bae6a!2sKamadgiri+Software+Solutions+Pvt.+Ltd.!5e0!3m2!1sen!2sin!4v1565674920277!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
    