@{
    ViewBag.Title = "ChengePassword";
    Layout = "~/Views/Shared/MZCommonLayout.cshtml";
}
<div class="col-sm-12" >
<h1 style="text-align:center;text-decoration:underline;color:white;font-weight:bold;">Change Your Password Here...</h1>
<div class="row">
<div class="col-sm-3"></div>
<div class="col-sm-6" style="min-height:600px;padding-top:10%;background:rgba(124,124,125,.3)">
@using (Html.BeginForm())
{
    @Html.TextBox("pass", null, new { placeholder="Enter Current Password", type="password", @class="form-control"})<br />
    @Html.TextBox("npass", null, new { placeholder="Enter New Password", type="password", @class="form-control" })<br />
    @Html.TextBox("cpass", null, new { placeholder="Confirm New Password", type="password", @class="form-control"})<br />
    <input type="submit" value="Change Password" class="btn-info form-control"/>
    <span>@ViewBag.msg</span>
}

    </div>
<div class="col-sm-3"></div></div></div>
